

#header {
    background-color: #42f45c;
    color: black;
    text-align: center;
    font-family: arial, sans-serif;
}


h1 {

text-align: center;
}


body{
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 100vh;

  background-color: rgb(17, 201, 233);

}

p{
  text-align: center;
  font-family: arial, sans-serif;

}

.projects{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px

}


#main{
  float:right;
  width: 1080px


}



