
h1 {

text-align: center;
}


body{
  

  background-color: rgb(195, 198, 199);

}

.container{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: arial, sans-serif;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}





